<div class="modal-content model-green">
	<div class="modal-header">
		<button type="button" class="close" data-ng-click="close()"
			data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">{{isUpdate ?
			('meetingApp.updateMeeting'|translate) :
			('meetingApp.newMeeting'|translate)}}</h4>
	</div>
	<div class="modal-body height-75">
		<div class="row" ng-if="loading">
			<p class="tCenter m60">
				<img src="/app/assets/angular/img/loading32.gif" />
			</p>
		</div>
		<div class="row bgWhite" ng-if="!loading">
			<div ng-class="isBlockedEvent ? 'col-sm-12  bgWhite' : 'col-sm-6  bgWhite'">
				<h4 class="text-muted font-regular">DETAILS</h4>
				<div class="col-sm-12 p0">
					<div class="form-group">
						<label class="boldFont">{{'meetingApp.meetingName'|translate}}</label>
						<input type="text" ng-model="meetingObject.sessionTitle"
							class="form-control">
					</div>
				</div>
				<div class="col-sm-12 p0">
					<div>
						<label class="boldFont">{{'meetingApp.location'|translate}}:
							<span class="normalFont">{{meetingEvent.resource.venue !=
								null ? meetingEvent.resource.venue :
								getLocationName(meetingEvent.resourceId)}}</span>
						</label>
					</div>
				</div>
				<hr class="solid">
				<div class="col-sm-12 p0">
					<div>
						<label class="boldFont">{{'meetingApp.date'|translate}}: <span
							class="normalFont">{{sessionTimeHandler.startTime | date :
								"MMM dd, yyyy"}}</span></label>
					</div>
				</div>
				<hr class="solid">
				<div class="col-sm-12 p0">
					<div class="form-group">
						<label class="boldFont">Duration:</label> <select
							class="form-control" ng-model="meetingObject.duration"
							ng-change="updateDuration(meetingObject.duration)">
							<option value="30">30</option>
							<option value="45">45</option>
							<option value="60">60</option>
						</select>
					</div>
				</div>
				<div class="col-sm-12 p0">
					<div class="col-sm-6 p0 pr5">
						<div class="costom-form">
							<label class="boldFont">{{'meetingApp.startTime'|translate}}</label>
							<div class="form-group mb0">
								<input type="text" totime disable-key class="form-control"
									ng-model="sessionTimeHandler.startTime">
							</div>
							<div class="collapse-div">
								<div class="dropdown">
									<a id="dLabel" class="down mtopN32" data-toggle="dropdown"
										aria-haspopup="true" aria-expanded="false"><span class=""><i
											class="fa fa-clock-o textGreen"></i></span></a>
									<div class="dropdown-menu" aria-labelledby="dLabel"
										ng-click="$event.stopPropagation()">
										<div timepicker ng-model="sessionTimeHandler.startTime"
											hour-step="hstep" minute-step="mstep"
											show-meridian="ismeridian" readonly-input="true"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 p0 pl5">
						<div class="costom-form">
							<label class="boldFont">{{'meetingApp.endTime'|translate}}</label>
							<div class="form-group mb0">
								<input type="text" totime disable-key class="form-control"
									ng-model="sessionTimeHandler.endTime" onkeydown="return false" >
							</div>
							<div class="collapse-div">
								<div class="dropdown">
									<a id="dLabel" class="down mtopN32" data-toggle="dropdown"
										aria-haspopup="true" aria-expanded="false"><span class=""><i
											class="fa fa-clock-o textGreen"></i></span></a>
									<div class="dropdown-menu" aria-labelledby="dLabel"
										ng-click="$event.stopPropagation()">
										<div timepicker ng-model="sessionTimeHandler.endTime"
											hour-step="hstep" minute-step="mstep"
											show-meridian="ismeridian" readonly-input="true"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 p0 pt10" ng-if="!isBlockedEvent">
					<div class="form-group">
						<label>{{'meetingApp.status'|translate}}</label> <select
							class="form-control" ng-model="meetingObject.level">
							<option ng-repeat="level in sessionLevels"
								value="{{level.levelName}}"
								ng-selected="{{meetingObject.level == level.levelName}}"  ng-if="level.levelName.toLowerCase() != 'blocked' ">{{level.levelName}}</option>
						</select>
					</div>
				</div>
				<div class="col-sm-12" style="min-height: 19px;">
				</div>
			</div> <!-- First -->
			<div class="col-sm-6  bgWhite" ng-if="!isBlockedEvent">
				<h4 class="font-regular">
					<span class="text-muted">{{'meetingApp.registeredAttendees'|translate}}</span>
					({{registeredAttendees.length}})
				</h4>

				<div class="form-group">
					<label>{{'meetingApp.attendees'|translate}}</label>
					<div class="col-sm-12 p0 registeredAttendeeBox">
						<p ng-repeat="attendee in registeredAttendees"
							ng-class="{'selected': deletedAttendeeItems.indexOf(attendee.regCode) != -1}"
							ng-click="addToDeleteList(attendee.regCode)">
							{{attendee.firstName}} {{attendee.lastName}}</p>
					</div>
				</div>
				<div class="form-group text-right">
					<button type="button" ng-click="unAssignSession()"
						class="btn btn-success btn-sm"
						ng-disabled="deletedAttendeeItems.length == 0">{{'meetingApp.removeSelected'|translate}}</button>
				</div>
				<label class="text-muted font-regular mt8">{{'meetingApp.searchForAttendees'|translate}}</label>
				<div class="form-group">
					<label>{{'meetingApp.firstName'|translate}}</label> <input
						type="text" class="form-control" placeholder=""
						ng-model="attendeeSearchObject.firstName">
				</div>
				<div class="form-group">
					<label>{{'meetingApp.lastName'|translate}}</label> <input
						type="text" class="form-control" placeholder=""
						ng-model="attendeeSearchObject.lastName">
				</div>
				<div class="form-group text-right">
					<button type="button" class="btn btn-default btn-sm" disabled>{{'meetingApp.clear'|translate}}</button>
					<button type="button" class="btn btn-success btn-sm"
						ng-click="getRegistrationByFilter()">{{'meetingApp.search'|translate}}</button>
				</div>
				<div class="form-group" ng-if="registrations.length > 0">
					<label>Found Attendees</label>
					<div class="dropdown">
						<button id="dLabel" class="form-control tLeft text-wrap"
							type="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">
							Select Attendee<span class="caret customCaret"></span>
						</button>
						<ul class="dropdown-menu col-sm-12 m0 p0" aria-labelledby="dLabel">
							<div class="col-sm-12 m0 p0 dropdownBox">
								<div
									class="col-sm-12 dropDownSelector text-wrap cursor-pointer p5"
									ng-click="selectRegistration(reg)"
									ng-repeat="reg in registrations">
									<span class="col-sm-8 textEllipses" stopEvent>{{reg.firstName}}  {{reg.lastName}} <span ng-if="reg.organization">    ({{reg.organization}})</span></span><span class="col-sm-3 textEllipses"><button
											class="btn btn-primary"
											ng-click="addRegistrationToRegisteredAttendees(reg)"
											ng-disabled="regCodesToPublish.indexOf(reg.registrationCode) >= 0">Add</button></span>
								</div>
							</div>
						</ul>
					</div>
				</div>
			</div><!-- Second  -->
			<div class="col-sm-12 meeting-info" ng-if="!loading && !isBlockedEvent">
				<div class="row">
					<div class="col-sm-7">
						<h4 class="font-regular">MEETING INFO</h4>
					</div>
					<div class="col-sm-5">
						<div class="col-sm-5 p0 pt5">
							<span class="pull-right">Meeting Type</span>
						</div>
						<div class="col-sm-7">
							<select class="form-control" ng-model="meetingType.id"
								ng-change="getConfigData()" ng-disabled="meetingEvent.id != null">
								<option ng-repeat="type in meetingTypes" ng-value="type.typeId"
									ng-selected="meetingType.id == type.typeId">{{type.sessionType}}</option>
							</select>
						</div>
					</div>
				</div>	
				<!--Static HTML-->
				<div class="row">
					<div class="col-sm-8">
						<p class="boldFont">
							Created By: <span class="font-regular normalFont">{{regDetail.firstName}}
								{{regDetail.lastName}}</span>
						</p>
					</div>
				</div>

				<div class="row pl15 pr15">
					<div ng-repeat="x in configElements">
						<hr class="solid-green" ng-if="x.id == 3">
						<div class="col-sm-12 p0 pl5 pr5 pt5" ng-if="x.id == 1">
							<p class="boldFont textGreen mb0">{{x.value}}</p>
						</div>
						<div class="col-sm-12 p0 pl5 pr5" ng-if="x.id == 2">
							<div class="col-sm-12 pb5 pt5">
								<p class="boldFont textGreen">{{x.value}}</p>
							</div>
						</div>
						<div class="col-sm-6 p0 pl5 pr5 pb5 pt5" ng-if="x.id == 4">
							<p class="boldFont">{{x.value}}</p>
							<input class="form-control" ng-model="regDetail.firstName"
								ng-value="regDetail.firstName"
								ng-if="x.fieldName == 'firstName'" /> <input
								class="form-control" ng-model="regDetail.lastName"
								ng-value="regDetail.lastName" ng-if="x.fieldName == 'lastName'" />
							<input class="form-control" ng-model="regDetail.email"
								ng-value="regDetail.email" ng-if="x.fieldName == 'email'" /> <input
								class="form-control" ng-model="regDetail.position"
								ng-value="regDetail.position" ng-if="x.fieldName == 'position'" />
							<input class="form-control" ng-model="regDetail.organization"
								ng-value="regDetail.organization"
								ng-if="x.fieldName == 'organization'" /> <input
								class="form-control" ng-model="regDetail.mobile"
								ng-value="regDetail.mobile" ng-if="x.fieldName == 'mobile'" />
						</div>
						<div class="col-sm-6 p0 pl5 pr5 pb5 pt5"
							ng-init="question = getQuestionDataById(x.value)"
							ng-show="x.id == 5 && (question.questionTypeId == 5 || question.questionTypeId == 7)">
							<div class="">
								<p class="boldFont">{{question.questionName}}</p>
								<multiple-autocomplete ng-model="questionAnswerMapping2[question.questionId]"
     								object-property="answerName"
     								suggestions-arr="question.answers">
								</multiple-autocomplete>
							</div>
						</div>
						<div class="col-sm-6 p0 pl5 pr5 pb5 pt5"
							ng-init="question = getQuestionDataById(x.value)"
							ng-show="x.id == 5 && question.questionTypeId == 1">
							<p class="boldFont">{{question.questionName}}</p>
							<input class="form-control"
								ng-model="questionAnswerMapping2[question.questionId]"
								ng-value="questionAnswerMapping2[question.questionId]" />
						</div>

						<div class="col-sm-12 p0 pl5 pr5 pb5 pt5"
							ng-init="question = getQuestionDataById(x.value)"
							ng-show="x.id == 5 && question.questionTypeId == 2">
							<p class="boldFont">{{question.questionName}}</p>
							<textarea class="form-control" ng-model="questionAnswerMapping2[question.questionId]" ng-value="questionAnswerMapping2[question.questionId]" />
						</div>

						<div class="col-sm-6 p0 pl5 pr5 pb5 pt5"
							ng-init="question = getQuestionDataById(x.value)"
							ng-show="x.id == 5 && (question.questionTypeId == 6 || question.questionTypeId == 4)">
							<p class="boldFont">{{question.questionName}}</p>
							<select class="form-control"
								ng-model="questionAnswerMapping2[question.questionId]">
								<option ng-repeat="answer in question.answers"
									ng-value="answer.answerCode"
									ng-selected="questionAnswerMapping2[question.questionId].indexOf(answer.answerCode) >= 0">{{answer.answerName}}</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="pull-left">
			<button type="button" class="btn btn-grey" ng-disabled="loading"
				ng-show="IsUpdate">CHECK IN</button>
			<button type="button" class="btn btn-grey" ng-disabled="meetingUpdated || loading" ng-show="isUpdate && showCheckInAll && (registeredAttendees.length>0)" ng-click="checkInAllAttendees()">{{'meetingApp.actions.checkInAll'|translate}}</button>
		</div>
		<div class="pull-right">
			<button type="button" class="btn btn-default" data-dismiss="modal"
				ng-disabled="loading" ng-show="isUpdate" ng-click="deleteMeeting(meetingObject)">{{'meetingApp.cancelMeeting'|translate}}</button>
			<button type="button" class="btn btn-success" ng-disabled="loading"
				ng-click="validateRegData()">{{meetingEvent.id != null ?
				('meetingApp.updateMeeting'|translate) :
				('meetingApp.saveMeeting'|translate)}}</button>
		</div>
		<div class="clearfix"></div>
	</div>
</div>	