<div class="container meetingInfoConfigDiv">
    <div class="col-sm-12">
        <h3>Meeting Info Configuration</h3>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-primary" ng-class="buttonClass" ng-click="addEvent()">Add a Event</button>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Select a Type</label>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn active btn-default" ng-model="miConfig.type" btn-radio="'header'">
					  Header
    			</label>
                    <label class="btn btn-default" ng-model="miConfig.type" btn-radio="'subheader'">
					  Sub Header
    			</label>
                    <label class="btn btn-default" ng-model="miConfig.type" btn-radio="'hr'">
					  Horizontal Bar
    			</label>
                    <label class="btn btn-default" ng-model="miConfig.type" btn-radio="'text'">
					  Question
    			</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="row">
            <div class="form-group" ng-show="miConfig.type=='event'">
                <div class="col-xs-8">
                    <label>Event Name</label>
                    <input class="form-control" type="text" ng-model="miConfig.eventName">
                </div>
                <div class="col-xs-4">
                    <label></label>
                    <button class="form-control btn btn-primary" type="button" ng-click="add()">Add</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group" ng-show="miConfig.type=='header'">
                <div class="col-xs-8">
                    <label>Header Name</label>
                    <input class="form-control" type="text" ng-model="miConfig.text">
                </div>
                <div class="col-xs-4">
                    <label></label>
                    <button class="form-control btn btn-primary" type="button" ng-click="add()">Add</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group" ng-show="miConfig.type=='subheader'">
                <div class="col-xs-8">
                    <label>Sub Header Name</label>
                    <input class="form-control" type="text" ng-model="miConfig.text">
                </div>
                <div class="col-xs-4">
                    <label></label>
                    <button class="form-control btn btn-primary" type="button" ng-click="add()">Add</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group" ng-show="miConfig.type=='hr'">
                <div class="col-xs-8 checkbox">
                    <label>
                    <input type="checkbox" ng-model="miConfig.hr">
                    Want to show a horizontal bar?
                </label>
                </div>
                <div class="col-xs-4">
                    <label></label>
                    <button class="form-control btn btn-primary" type="button" ng-click="add()">Add</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group" ng-show="miConfig.type=='text'">
                <div class="col-xs-8">
                    <label>Select a Question</label>
                    <input class="form-control" type="text" ng-model="miConfig.text">
                </div>
                <div class="col-xs-4">
                    <label></label>
                    <button class="form-control btn btn-primary" type="button" ng-click="add()">Add</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 mt15" ng-show="miConfig.type">
        <button type="submit" class="btn btn-primary" ng-click="save()" ng-class="buttonClass">Save Configurations</button>
    </div>
</div>
<div class="container" style="background: cornsilk;">
    <div class="col-sm-12">
        <div class="form-group">
            <h2 class="text-centre">Meeting Info Page Preview</h2>
            <!--Meeting Info Config: {{meetingInfoConfig}}-->
            <div ng-repeat="event in meetingInfoConfig.events">
                <div ng-repeat="mic in event.sections">
                    <div class="col-sm-12" ng-if="mic.type=='header'">
                        <p class="boldFont textGreen">{{mic.text}}</p>
                    </div>
                    <div class="col-sm-12" ng-show="mic.type=='subheader'">
                        <p class="boldFont">{{mic.text}}</p>
                    </div>
                    <div class="col-sm-6 pb5 pt5" ng-if="mic.type=='text'">
                        <label>{{mic.text}}</label>
                        <input type="text" class="form-control" placeholder="" ng-model="regDetail[mic.key]">
                    </div>
                    <hr class="solid-green" ng-show="mic.type=='hr'">
                </div>
            </div>
        </div>
    </div>
</div>