<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand"><img src="../../assets/images/logo.png" alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">          
          <ul class="nav navbar-nav navbar-right">
			  <li class="curved"><button class="btn btn-default" type="submit">RETURN TO SCAN SCREEN</button></li>
			  <li class="curved"><button class="btn btn-default" type="submit">MANUAL LOOKUP</button></li>
		  </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div class="legends-bar">
    	<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<h4 class="title font-regular">Partner Conference 2017</h4>
				</div>
				<div class="col-sm-9">
					&nbsp;
				</div>
				<div class="clearfix"></div>
			</div>
   		</div>   	
	</div>

    <div class="container">
		<div class="form-group">
			<div class="pull-left">
				<h4 class="font-regular"><span class="text-muted">DEMO REQUESTS</span> (42)</h4>
			</div>		
			<div class="pull-right">
				<span class="text-muted">Show</span>
				<span>
					<select class="">
					  <option>50</option>
					</select>					
				</span>
				<span class="text-muted">per page</span>
				<i class="fa fa-angle-double-down fa-lg"></i>
			</div>
			<div class="clearfix"></div>
		</div>
		
		<div class="table-responsive">
			<table class="table custom-tbl">
				<tr>
					<th>REQUESTED TIME</th>
					<th><a href="#">LAST NAME <i class="fa fa-caret-down"></i></a></th>
					<th>FIRST NAME</th>
					<th>COMPANY</th>
					<th>STATE</th>
					<th>PHONE</th>
					<th>EMAIL</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
                <tr ng-repeat="drData in demoRequestsData" style="border-bottom:#fff 3px solid">
                    <td><strong>{{drData.requestedTime}}</strong></td>
					<td>{{drData.lastName}}</td>
					<td>{{drData.firstName}}</td>
					<td>{{drData.company}}</td>
					<td>{{drData.state}}</td>
					<td>{{drData.phone}}</td>
					<td><a href="mailto:{{drData.email}}">{{drData.email}}</a></td>
					<td ng-show="!drData.scheduledStatus"><button class="btn btn-grey btn-sm" type="button">SCHEDULE</button></td>
                    <td ng-show="drData.scheduledStatus"><button class="btn btn-success btn-sm" type="button"><i class="fa fa-check"></i>SCHEDULE</button></td>
					<td><button class="btn btn-default btn-sm" type="button" data-toggle="modal" data-target="#questions" ng-click="openDiscoveryQuestionsModal()">QUESTIONS</button></td>
                </tr>
			</table>
		</div>		
	</div>


<!--<div class="container">
    <div class="row">
        <h4>DEMO REQUESTS (42)</h4>
    </div>
</div>
<div class="container">
    <div class="row">
        <div ui-grid="demoRequestGridOptions" ui-grid-pagination></div>
    </div>
</div>-->